{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Your Own Diary</title>

  {% load django_bootstrap5 %}
  {% bootstrap_css %}

  <link rel="stylesheet" href="{% static 'diary/styles.css' %}">

  {% bootstrap_javascript %}

</head>
<body>
  <nav class="navbar navbar-expand-md navbar-light bg-success-subtle mb-4 border ps-5 pe-5">
    <div class="container-fluid">
      <a class="navbar-brand fs-3" href="{% url 'diary:index' %}">Diary</a>         <!-- app name and then the URL pattern from urls.py with a given name -->
      <a class="nav-link active fs-5" href="{% url 'diary:category_list' %}">Categories</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
          <span class="navbar-toggler-icon"></span>
        </button>

      <div class="collapse navbar-collapse" id="navbarCollapse">

        <!-- Account-related links -->
        <ul class="navbar-nav ms-auto mb-2 mb-md-0">

          {% if user.is_authenticated %}
            <li class="nav-item">
              <span class="navbar-text me-2 fs-5">Hello, {{ user.username }}.</span>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'accounts:register' %}">
                Register</a></li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'accounts:login' %}">
                Log in</a></li>
          {% endif %}
        </ul><!-- End of account-related links -->

        {% if user.is_authenticated %}
          <form action="{% url 'accounts:logout' %}" method='post'>
            {% csrf_token %}
            <button name='submit' class='btn btn-outline-secondary btn-sm'>
              Log out</button>
          </form>
        {% endif %}

      </div> <!-- Closes collapsible parts of navbar -->
    </div>
  </nav>

<main class="container">
  <div class"pb-2 mb-2 border-bottom">
    {% block page_header %}{% endblock page_header%}
  </div>
  <div>
    {% block content %}{% endblock content %}
  </div>
</main>

</body>
</html>


