{% extends 'diary/base.html' %}

{% block page_header %}

  <h1 class="ms-3">{{ category.category_name }}</h1>

{% endblock page_header %}

{% block content %}

    <!-- Add Note Button -->
    <a href="{% url 'diary:add_note' category.id %}" class="btn btn-primary mb-3 ms-3 mt-2">Add Note</a>

    <!-- Edit Category Button -->
    <a href="{% url 'diary:edit_category' category.id %}" class="btn btn-primary mb-3 ms-2 mt-2">Edit Category</a>

<!-- List all notes in this category with cards -->
<div class="container">
    <div class="row">
        {% for note in notes %}
            <div class="col-md-4">
                <div class="card {{ note.category|lower }}-category mb-3 me-3 mt-2">
                    <div class="card-body {{ note.category|lower }}-category">
                        <h5 class="card-title text-center fs-4 fw-semibold">{{ note.title }}</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary text-center pb-3">Category: {{ note.category }}</h6>
                        <p class="card-text fs-6">{{ note.my_note }}</p>
                        <!-- Additional info about the note -->
                        <h6 class="card-subtitle mb-2 text-body-secondary text-center pt-3 fw-bold">Details</h6>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item {{ note.category|lower }}-category">Importance: {{ note.get_importance_display }}</li>
                            <li class="list-group-item {{ note.category|lower }}-category">Public: {{ note.public|yesno:"Yes,No" }}</li>
                            <li class="list-group-item {{ note.category|lower }}-category">Date Added: {{ note.date_added|date:"Y-m-d H:i" }}</li>
                            <li class="list-group-item {{ note.category|lower }}-category">Date Modified: {{ note.date_modified|date:"Y-m-d H:i" }}</li>
                        </ul>          
                        <a href="{% url 'diary:edit_note' note.id %}" class="card-link d-flex justify-content-center fs-5">Edit note</a>
                    </div>
                </div>
            </div>
        {% empty %}
            <li>No notes have been created for this category</li>
        {% endfor %}
    </div>
</div>

{% endblock content %}