{% extends 'diary/base.html' %}

{% block page_header %}

    <div class="p-3 mb-4 bg-light border rounded-3">
        <div class="container-fluid py-4">
            <h1 class="display-3">Create your own notes!</h1>
            <p class="lead">Add and categorise your notes, ideas and anything you like.</p>

            <!-- url will be changed once registration & login are done -->
            <a class="btn btn-primary btn-lg mt-1" href="{% url 'diary:index' %}">Register &raquo;</a>
        </div>
    </div>

{% endblock page_header %}