{% extends 'diary/base.html' %}

{% block page_header %}
{% endblock page_header %}

{% block content %}

    <div class="card {{ note.category|lower }}-category" style="width: 20rem;">
        <div class="card-body">
            <h5 class="card-title text-center fs-3 fw-semibold">{{ note.title }}</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary text-center pb-3">Category: {{ note.category }}</h6>
            <p class="card-text fs-5">{{ note.my_note }}</p>
            <!-- Additional info about the note -->
            <h6 class="card-subtitle mb-2 text-body-secondary text-center pt-3 fw-bold">Details</h6>
            <ul class="list-group list-group-flush">
                <li class="list-group-item {{ note.category|lower }}-category">Importance: {{ note.get_importance_display }}</li>
                <li class="list-group-item {{ note.category|lower }}-category">Public: {{ note.public|yesno:"Yes,No" }}</li>
                <li class="list-group-item {{ note.category|lower }}-category">Date Added: {{ note.date_added|date:"Y-m-d H:i" }}</li>
                <li class="list-group-item {{ note.category|lower }}-category">Date Modified: {{ note.date_modified|date:"Y-m-d H:i" }}</li>
              </ul>          
            <a href="{% url 'diary:edit_note' note.id %}" class="card-link d-flex justify-content-center fs-5">Edit note</a>
        </div>
    </div>

{% endblock content %}