{% extends 'diary/base.html' %}

{% block page_header %}

    <h3>Press here to add a new note:
        <a href="{% url 'diary:category_list' %}">Add a note</a>
    </h3>

{% endblock page_header %}

{% block content %} 

    <ul class="list-group border-bottom pb-2 mb-4">
        {% for note in notes %}
            <!-- Here we will iterate through notes -->
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ note.title }}</h5>
                    <p class="card-text">{{ note.my_note }}</p>
                    <a href="#" class="card-link">Edit note</a>
                </div>
            </div>
        {% empty %}
            <li class="list-group-item">No notes have been created yet!</li>
        {% endfor %}
    </ul>

{% endblock content %}
