/* Styles for note cards */

.work-category {
    background-color: #31e26c !important;
}

.stuff-category {
    background-color: #bfc515 !important;
}

.hobbies-category {
    background-color: #e87df7 !important;
}

.school-category {
    background-color: #5578eb !important;
}
