/* Styles for note cards */

.work-category {
    background-color: #45e97c !important;
}

.stuff-category {
    background-color: #f1f754 !important;
}

.hobbies-category {
    background-color: #eb97f7 !important;
}

.school-category {
    background-color: #7392f7 !important;
}
