/* Styles for note cards */

.work-category {
    background-color: #58af76 !important;
}

.stuff-category {
    background-color: #f7d76c !important;
}

.hobbies-category {
    background-color: #cf6062 !important;
}

.school-category {
    background-color: #7487c8 !important;
}
